@font-face {
    font-family: "ziti";
    src: url("ziti.eot"); /* IE9 */
    src: url("ziti.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("ziti.woff") format("woff"), /* chrome、firefox */
    url("ziti.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    font-style: normal;
    font-weight: normal;
}


