<!--gameroom通用-->
<script type="text/javascript" src="//yun.tuisnake.com/h5-mami/mainMeeting/base_201703101656.js"></script>
<script type="text/javascript" src="//yun.tuisnake.com/h5-mami/webgame/lib/statistics_201710271800.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
#include("@layout/partial/exchange-pop.html")
#include("../layout/CFG.html")
<!--停留时长-->
<!--#include("@layout/partial/stay-time.html")-->
<!--<script >-->
  <!--var cst = window.CREATE && new window.CREATE.StayTime({-->
    <!--type :2,-->
    <!--interval: 1e3,-->
    <!--cfg: window.CFG-->
  <!--});-->
  <!--cst.start();-->
<!--</script>-->